{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container mt-2">
    <h3 class="mb-4 text-center">Search the Category You Want</h3>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-outline-primary mb-3">Search</button>
    </form>

    {% if expenses %}

    <div class="container mb-5">
        <div style="height: 400px;"> 
        <canvas id="categoryChart"></canvas>
    </div>
    </div>

    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th scope="col">Expense Name</th>
                <th scope="col">Date</th>
                <th scope="col">Amount</th>
                <th scope="col">Category</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
            <tr>
                <td><strong>{{ expense.name }}</strong></td>
                <td>{{ expense.date }}</td>
                <td class="text-success">${{ expense.amount }}</td>
                <td><em>{{ expense.category }}</em></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="mt-3">
        <h5><strong>Total Expenses: <span class="{%if budget_breach%}text-danger{%else%}text-success{%endif%}">${{ total_expenses }}</span></strong></h5>

        {% if budget_breach %}
        <p class="mt-3 text-warning"><strong class="text-danger">DANGER!</strong> Your limit budget for this category is is overreached! </p>
        {% endif %}
      
            
    </div>
    {% else %}
    <div class="alert alert-warning mt-4">
        No expenses found for the selected month and year.
    </div>
    {% endif %}


</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const categoryCtx = document.getElementById('categoryChart').getContext('2d');

    const categoryChart = new Chart(categoryCtx, {
        type: 'doughnut',
        data: {
            labels: {{ expenses_list|safe }},
            datasets: [{
                label: 'Expenses',
                data: {{ amounts_list|safe }},
                backgroundColor: [
                        '#FFCDD2', // Light Red
                        '#FFE0B2', // Light Orange
                        '#BBDEFB', // Light Blue
                        '#C8E6C9', // Light Green
                        '#F8BBD0', // Light Pink
                        '#B2EBF2', // Light Cyan
                        '#D1C4E9', // Lavender 
                        '#E1BEE7', // Light Purple
                        '#FFF9C4', // Light Yellow                       
                        '#FFECB3'  // Light Amber
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
        }
    });
</script>


{% endblock %}
